asgiref==3.3.4
backcall==0.2.0
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
chromedriver==2.24.1
click==8.0.1
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
decorator==5.0.9
Django==3.2.3
django-widget-tweaks==1.4.8
filelock==3.0.12
folium==0.12.1
huggingface-hub==0.0.8
idna==2.10
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
numpy==1.20.3
packaging==20.9
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.18
Pygments==2.9.0
pyparsing==2.4.7
pytz==2021.1
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
selenium==3.141.0
six==1.16.0
sqlparse==0.4.1
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
traitlets==5.0.5
transformers==4.6.1
typing-extensions==3.10.0.0
urllib3==1.26.4
wcwidth==0.2.5
webdriver-manager==3.4.2
